body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	display: flex;
	justify-content: center;
}

.text-uppercase {
	text-align: center;
	color: blue;
}

h1 {
	text-align: center;
	font-size: 3rem;
	color: #e2dbdb;
}

hr {
	border-color: #1E00F9;
	border-width: 4px;
	max-width: 365px;
}

.buffer {
	height: 25rem;
}

.btn {
	font-weight: 600;
	border-radius: 200px;
	text-transform: uppercase;
}

.btn-subscribe {
	background-color: #FF6464;
	border-color: #1C10AF;

}


.btn-ocean {
	background-color: #727DFF;
	border-color: #1C10AF;

}


.btn-world {
	background-color: #44CF6E;
	border-color: #1C10AF;

}


.btn-data {
	background-color: #FB92CB;
	border-color: #1C10AF;

}


.btn-graphics {
	background-color: #F8FE53;
	border-color: #1C10AF;

}


.btn-author {
	background-color: #4DE39B;
	border-color: #1C10AF;

}


.btn:hover {
	background-color: #FF9038;
	border-color: #FF9038;
	border-width: 4px;
}

